$blue : #0065C1;
$light-blue : #619DD6;
$dark-blue: #1F4E78;
$gray-blue : #2D4E6B;

$black : #000;
$light-black : rgba(34, 34, 34, 0.9);

$white : #fff;
$light-white : #F9F9FB;

$light-gray: rgba(173, 173, 173, 0.5);

$yellow : #F9D949;

$red: #D21312;