@use "../../sass/abstracts" as *;

.btn {
  text-align: center;
  padding: 1.5rem 2.5rem;
  border-radius: .8rem;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  cursor: pointer;
  transition: all ease-in-out .3s;
  height: max-content;

  background-color: $white;
  border: 1px solid $blue;
  @include header-16;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  }

  &.primary:hover {
    background: linear-gradient(to bottom, #0ea5e9, $blue);
  }
}

.primary {
  background: linear-gradient(to right, #06b6d4, $blue);
  color: $white;
}

.secondary {
  color: $blue;
}

